<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.0.2" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact.PrivateConfig" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="PusherClient" version="0.1.0-alpha-1" targetFramework="net45" />
  <package id="TA-Lib" version="0.5.0.3" targetFramework="net45" />
  <package id="UI.for.WinForms.ChartView" version="2016.2.503" targetFramework="net45" />
  <package id="UI.for.WinForms.Common" version="2016.2.503" targetFramework="net45" />
  <package id="UI.for.WinForms.Dock" version="2016.2.503" targetFramework="net45" />
  <package id="UI.for.WinForms.Document.Processing.Library" version="2016.2.503" targetFramework="net45" />
  <package id="UI.for.WinForms.Export" version="2016.2.503" targetFramework="net45" />
  <package id="UI.for.WinForms.GridView" version="2016.2.503" targetFramework="net45" />
  <package id="UI.for.WinForms.MarkupEditor" version="2016.2.503" targetFramework="net45" />
  <package id="UI.for.WinForms.PivotGrid" version="2016.2.503" targetFramework="net45" />
  <package id="UI.for.WinForms.Themes" version="2016.2.503" targetFramework="net45" />
</packages>